<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<log4j:configuration debug="false">
    <appender name="CONSOLE" class="org.apache.log4j.ConsoleAppender">
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%-4r [%t] %-5p %c %x - %m%n"/>
        </layout>
    </appender>

    <appender name="FILE" class="org.apache.log4j.RollingFileAppender">
        <!--param name="file" value="/var/log/ambari-server/jive-view/jive.log"/-->
        <param name="file" value="jive.log"/>
        <param name="MaxFileSize" value="5MB"/>
        <param name="MaxBackupIndex" value="10"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="[%-5p] %d %c - %m%n"/>
        </layout>
    </appender>

    <logger name="uk.gov.dwp.uc.dip" additivity="false">
        <level value="debug"/>
        <appender-ref ref="FILE" />
        <!-- appender-ref ref="CONSOLE" /-->
    </logger>

    <root>
        <priority value ="debug" />
        <!-- appender-ref ref="CONSOLE" /-->
        <appender-ref ref="FILE" />
    </root>

</log4j:configuration>